body {
  margin: 0;
  padding: 0;
}

.code-box {
  width: calc(100vw - 50px);
  margin: 0 auto;
  max-height: 100%;
  background: #fcfcfc;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
